<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h3>Describe your first impressions of this group of people however you want.</h3>
    <form action="{{ amazon_host }}" method="POST">
      <textarea rows="4" cols="100" name="user-input">
      </textarea>
      <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
      <br/>
      <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
      <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
      <input type="submit">
    </form>
    <div>
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/NickNew.jpg?itok=4mn843Qi" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/Adam_Barry.jpg?itok=tqRCS76t" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/Ales%20Zoulek.jpg?itok=jAhJXzzt" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/BenNew.jpg?itok=nez_ODks" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/GaryNew.jpg?itok=YnK6mQct" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/HarrisonNew.jpg?itok=mHoGx54J" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/JerryNew.jpg?itok=iVNGUMqB" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/JoeNew.jpg?itok=6mkIFlCx" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/JonathanNew.jpg?itok=OLUOXZzt" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/KyleNew.jpg?itok=MMnEqj2s" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/Mark_Theunissen.jpg?itok=mWlUxsNZ" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/Michael_Liu_0.jpg?itok=UvLFpOqS" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/NathanNew.jpg?itok=rVCQiWLq" style="width: 30%;">
      <img src="https://pantheon.io/sites/default/files/styles/540x540_top/public/RayNew.jpg?itok=LtRjf1yk" style="width: 30%;">
      </div

    </body>

  </html>
